*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

header{
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gestione-mesi{
  width: 100px;
  margin-top: 10px;
}

.gestione-mesi::after{
  clear: both;
  display: table;
  content: '';
}

.gestione-mesi i{
  cursor: pointer;
  font-size: 22px;
}

.fa-chevron-circle-left{
  float: left;
}

.fa-chevron-circle-right{
  float: right;
}

main{
  display: flex;
  justify-content: center;
}

.giornoFesta{
  color: red;
}

#calendario{
  list-style-type: none;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
}

#calendario li{
  width: 150px;
  height: 75px;
  border: 1px solid black;
}
