*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

header{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gestione-mesi{
  width: 100px;
  margin-top: 10px;
}

.gestione-mesi::after{
  clear: both;
  display: table;
  content: '';
}

.gestione-mesi i{
  cursor: pointer;
  font-size: 22px;
}

.fa-chevron-circle-left{
  float: left;
}

.fa-chevron-circle-right{
  float: right;
}

main{
  text-align: center;
}

.giornoFesta{
  color: red;
}
